body
{
	background-color:black;
    background-image:url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcwxMAvUfuQqFvcKItJViXfvKbjVIQUdBE6pO4514x_ZXEeFe07upJMV4AZMBX9gK_QD4OKAHlBs8On_MVnpUw495ve0fd60AHdsd1nbZ.J447nEAv7cG2pgyGD.lwSOiBgZBaK8w8XREjeVjFw_fivNG2P9FSADB7sY1S6OR8utM-&format=jpg);
    background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
	
}

h1{
	text-align:center;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font:50pt sans-serif;
    
}
h1:hover{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 5em black;
    font:50pt sans-serif;
}
.a{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(255,204,0, 0.75); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.a1{
    text-align:center;
    border:5px groove black;
    border-radius:20px;
}
.b{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(70,130,180, 0.75); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(105,105,105, 0.75); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:center;
}
.c1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(85,107,47, 0.75); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(210,105,30, 0.75); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.at{
    border-collapse:collapse;
 }
.at1{
	
    border:5px groove black;
    border-radius:15px;
	margin-top:40px;

}
.gg2{
	vertical-align:top;
	margin-left:200px;
}
.gg{
	vertical-align:top;
}
.at2:hover{
 	padding: 0px; /* Поля вокруг текста */
}
.b1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(0,	0,139, 0.8); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(85,107,47,0.8); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b3{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
 	background: rgba(0,255,255,0.8); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.at2{
	width:455px;
	float:right;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.table1{
    border:solid white 2px;
    border-radius:10px;
 	background: rgba(0,0,0,0.8); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:justify;

}
.table1:hover{
    border:solid white 2px;
    border-radius:25px;
    font-size:12pt;
 	background: rgba(0,0,0,0.9); /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.footer{
	margin-top:20px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left:-8px;
	margin-right:-8px;
	color:white;
}
.a1 .hy{
	transition:0.2s all;
	margin-left:135px;
	display:block;
	background:url(../img/sprite.png) 0 0 no-repeat;
	width:225px;
	height:225px;
}
.a1 .hy:hover{
	background-position: 0px -225px;
}
.a1{
	position:relative;
	overflow:hidden;
}
.a1 .hy2{
	transition:0.2s all;
	margin-right:120px;
	float:right;
	display:block;
	background:url(../img/sprite.png) -225px 0;
	width:225px;
	height:225px;
}
.a1 .hy2:hover{
	background-position: -225px -225px;
}