body
{
	background-color:black;
    background-image:url(https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcwxMAvUfuQqFvcKItJViXfvKbjVIQUdBE6pO4514x_ZXEeFe07upJMV4AZMBX9gK_QD4OKAHlBs8On_MVnpUw495ve0fd60AHdsd1nbZ.J447nEAv7cG2pgyGD.lwSOiBgZBaK8w8XREjeVjFw_fivNG2P9FSADB7sY1S6OR8utM-&format=jpg);
    background-attachment:fixed;
	background-size:cover;
	background-repeat:no-repeat;
}
.at2{
	width:100%;
	float:right;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.a1 .hy2{
	transition:0.2s all;
	margin-left:50px;
	float:none;
	display:block;
	background:url(../img/sprite.png) -225px 0;
	width:225px;
	height:225px;
}