@font-face {
    font-family: League Gothic; 
	font-family:Open Sans;
	src: url(fonts/League-Gothic.ttf)
	src: url(fonts/Open Sans/Open Sans тонкий.ttf)	
}	
body
{
margin:0;
padding:0;
color:#bbabb8;
}
.header{
width:100%;
height:440px;
background:url(../img960/fon.png);
padding-top:78px;
background-position:center 0%;
}
.title{
margin-top:2px;
margin-left:3%; 
}
.title1{
font-family: League Gothic;
font-size:48px;
font-weight:lighter;
width:124px;
height:170px; 
float:left;
}
.title11{
visibility: visible;
font-family: League Gothic;
color:white;
float:left;
display: block;
height:90px;
position: relative;
}
.title111{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
#panel {
margin:0;
padding:0;
}
.knopki {
list-style: none;
margin:0;
padding:0;

}
.subpanel {
list-style: none;
margin-top:50px;
margin-left:-45px;
width: 220px;
height:273px;
display: none;
position: absolute;
background: rgba(0, 0, 0, 0.5);
border-radius:15px;
}
.mline1 {
display: block;
padding-top:20px;
font-family: League Gothic;
font-size:24px;
width: 260px;
margin-left:-40px;
height: 33px;
color: white;
position: relative;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline1:hover{
background:black;
color: white;
text-decoration:underline;
border-radius:15px 15px 0 0;
}
.mline2{
display: block;
position: relative;
margin-left:-40px;
padding-top:10px;
width: 260px;
height: 33px;
color: white;
font-size:24px;
vertical-align: middle;
text-align: center;
border-bottom:3px solid #edbfff;
}
.mline2:hover{
background:black;
text-decoration:underline;
}
.mline {
display: block;
margin-left:-40px;
position: relative;
padding-top:10px;
font-family: League Gothic;
font-size:24px;
width: 260px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline:hover{
background:black;
text-decoration:underline;
}
.mline6 {
display: block;
margin-left:-40px;
padding-top:10px;
position: relative;
font-family: League Gothic;
font-size:24px;
width: 260px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline6:hover{
background:black;
text-decoration:underline;
border-radius:0 0 15px 15px;
}
.knopki:hover .subpanel, .knopki.jshover .subpanel {
display: block;
}
.knopki:hover, .knopki.jshover {
background: black;
border:0;
border-radius:15px;
}
.title12{
font-family: League Gothic;
margin-top:1px;
color:#734f82;
text-shadow: 4px 0 4px #bea7b1;
position:relative;
font-size:48px;
height:48px; 
margin-right:167px;
}
.menuup{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p1{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p2{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p3{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p4{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p5{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p6{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.line1{
background: 0;
margin-top:-42px;
width:100%;
height:245px;
}
.l1t{
float:left;
width:200px;
margin-top:105px;
margin-left:-140px;
font-family: League Gothic;
}
.l1t1{
color:white;
font-size:36px;
font-weight: 100;
word-spacing: 1.5ех;
letter-spacing: 2ех;
}
.l1t2{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.l1t22{
margin-top:18px;
color:#edbfff;
font-size:16px;
font-weight: 100;
word-spacing: 0.5ех;
letter-spacing:0.2ех;
}
.l1t3{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.l1t33{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.phoneradio{
float:left;


}
.iphone{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.iphoneS{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.radio1{
margin-left:-150px;
margin-top:265px;
float:left;
}
.b1{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background: url(../img960/wer.png);
}
.b1:hover{
background:url(../img960/white_dot.png);
}
.contaner1{
width:100%;
height:631px;
margin-top:-20px;
background: linear-gradient(to bottom, #745083, #34263b);
}
.c1sb1{
clear:both;
margin-left:1%;
margin-top:61px;
width:200px;
height:180px;
float:left;
}
.remont{
margin-top:-2px;
}
.transpor1{
float:left;
margin-top:-25px;
margin-left:40px;
width:165px;
height:33px;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor444{
display:block;
margin-top:13px;
margin-left:40px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:100px;
width:220px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.transpor44{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.transpor4{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.but1{
display:block;
margin-top:-10px;
margin-left:175px;
width:70px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but1:hover{
font-weight:bold;
text-shadow: 0 0 4px white;
}
.c1sb3{
clear:both;
margin-left:1%;
margin-top:0px;
width:200px;
height:180px;
float:left;
}
.remont1{
margin-top:-2px;
}
.oblko{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.transpor2{
float:left;
margin-top:-25px;
margin-left:40px;
width:165px;
height:33px;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor555{
display:block;
margin-top:13px;
margin-left:40px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:100px;
width:220px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.transpor55{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.transpor5{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.but2{
display:block;
margin-top:-10px;
margin-left:175px;
width:70px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but2:hover{
font-weight:bold;
text-shadow: 0 0 4px white;
}
.c1sb5{
clear:both;
margin-left:1%;
margin-top:0px;
width:200px;
height:180px;
float:left;
}
.musik{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.remont2{
margin-left:5px;
}
.transpor3{
float:left;
margin-top:-25px;
margin-left:40px;
width:165px;
height:33px;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor66{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.transpor6{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.transpor666{
display:block;
margin-top:13px;
margin-left:40px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:100px;
width:220px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but3{
display:block;
margin-top:-10px;
margin-left:175px;
width:70px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but3:hover{
font-weight:bold;
text-shadow: 0 0 4px white;
}

.contaner2{
margin-top:-16px;
width:100%;
height:785px;
background-color:#f9f9f9;
border-bottom:1px solid #bbabb8;
}
.sideleft{
float:left;
margin-top:70px;
margin-left:2.5%;
width:250px;
height:270px;
background:white;
}
.sbl1{
padding-top:20px;
margin-left:-25px;
 }
.sbl11{
display:inline-block;
 }
.sbl12{
display:inline-block;
margin-top:9px;
margin-left:8px;
font-family: League Gothic;
color:#454545;
font-size:24px;
vertical-align: top;
 }
.sbl13{
display:block;
margin-top:-16px;
margin-left:60px;
font-family: League Gothic;
color:#edbfff;
font-size:24px;
vertical-align: top;
 }
.sbl2111{
margin-left:39px;
display:block;
width:190px;
font-family: Open Sans Light ;
font-weight:light;
color:black;
font-size:16px;
line-height:25px;
letter-spacing:0.1pх;
word-spacing:0.1px;
 }
 .sbl211{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
 }
 .sbl21{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
 }
.sbl2{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
 }
 .radio2{
margin-left:90px;
margin-top:40px;
display:block;
}
.b2{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background:url(../img960/white_dot1.png);
}
.b2:hover{
background: url(../img960/blk_dot1.png);
}
.sideright{
padding-top:426px;
margin-left:1%;
width:480px;
height:200px;
}
.sbr1{
float:left;
margin-top:13px;
margin-left:20px;
font-family: League Gothic;
color:#454545;
font-size:30px;
vertical-align: top;
}
.sbr11{ 
margin-top:36px;
margin-left:20px;
}
.sbr21{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr211{
margin-top:-45px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:900;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr22{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr222{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr2222{
margin-top:-10px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr12{ 
margin-top:10px;
margin-left:20px;
}
.sbr23{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr231{
margin-top:-45px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr2422{
margin-top:-10px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr242{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr24{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr13{ 
margin-top:10px;
margin-left:20px;
}
.sbr251{
margin-top:-45px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr25{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr26{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr262{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr2622{
margin-top:-10px;
margin-left:55px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr27{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.sbr272{
float:left;
display:block;
margin-left:190px;
margin-top:22px;
font-family: League Gothic ;
font-weight:light;
font-size:20px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.spce2{
width:10px;
height:10px;
background-color:red;
}
.strlogo{
float:left;
margin-top:-16px;
width:100%;
height:413px;
background-color:#f9f9f9;
}
.logo{
margin-left:0.7%px;
margin-top:50px;
}
.l1{
float:left;
margin-left:4.5%;
display:inline-block;
width:69px;
height:64px;
background:url(../img960/l1.png);
}
.l2{
display:inline-block;
margin-left:56px;
float:left;
width:72px;
height:64px;
background:url(../img960/l2.png);
}
.l3{
display:block;
float:left;
margin-left:-194px;
margin-top:100px;
width:65px;
height:65px;
background:url(../img960/l3.png);
}
.l4{
display:inline-block;
margin-left:-60px;
float:left;
margin-top:100px;
padding-bottom:15px;
width:50px;
height:50px;
background:url(../img960/l4.png);
}
.l5{
display:block;
margin-left:-206px;
margin-top:250px;
float:left;
width:103px;
height:21px;
background:url(../img960/l5.png);
}
.l6{
display:inline-block;
margin-left:-72px;
float:left;
margin-top:225px;
width:78px;
height:61px;
background:url(../img960/l6.png);
}
.contaner4{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downmenu1{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit41{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit421{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit4211{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downmenu2{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit42{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit422{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit4221{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downmenu3{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit43{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit423{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit4231{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit1{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit2{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit3{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit4{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}


.downtit21{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit22{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.downtit432{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.contaner5{
float:left;
width:100%;
height:200px;
background:url(../img960/bottom2.png);
}
.menudown{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p11{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p11:hover{
border-bottom:3px solid #FFFFFF;
}
.p12{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p12:hover{
border-bottom:3px solid #FFFFFF;
}
.p13{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p13:hover{
border-bottom:3px solid #FFFFFF;
}
.p14{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p14:hover{
border-bottom:3px solid #FFFFFF;
}
.p15{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p15:hover{
border-bottom:3px solid #FFFFFF;
}
.p16{
visibility: hidden;
margin:0;
padding:0;
font-size:0px;
width: 0px;
height:0px;
}
.p16:hover{
border-bottom:3px solid #FFFFFF;
}
.p17{
float:left;
font-family: Open Sans Light;
color:white;
font-weight:lighter;
margin-left:4.5%;
margin-top:39px;
font-size:12px;
}
.p18{
float:left;
font-family: Open Sans;
color:white;
font-weight:bold;
margin-left:10px;
margin-top:39px;
font-size:12px;
}