@font-face {
    font-family: League Gothic; 
	font-family:Open Sans;
	src: url(fonts/League-Gothic.ttf)
	src: url(fonts/Open Sans/Open Sans тонкий.ttf)	
}	
body
{
margin:0;
padding:0;
color:#bbabb8;
}
.header{
width:2400px;
height:720px;
background:url(../img960/fon.png);
padding-top:78px;
}
.title{
margin-top:2px;
margin-left:833px; 
}
.title1{
font-family: League Gothic;
font-size:48px;
font-weight:lighter;
width:124px;
height:170px; 
float:left;
}
.title11{
visibility: visible;
font-family: League Gothic;
color:white;
float:left;
display: block;
height:90px;
position: relative;
}
#panel {
visibility: hidden;
margin:0;
padding:0;
}
.knopki {
visibility: hidden;
list-style: none;
margin:0;
padding:0;
}

.subpanel {
visibility: hidden;
list-style: none;
margin-top:50px;
margin-left:-15px;
width: 168px;
height:258px;
display: none;
position: absolute;
background: rgba(0, 0, 0, 0.5);
border-radius:15px;
}
.mline1 {
visibility: hidden;
display: block;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
margin-left:-40px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline1:hover{
visibility: hidden;
background:black;
text-decoration:underline;
border-radius:15px 15px 0 0;
}
.mline2{
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
width: 208px;
height: 33px;
color: white;
font-size:20px;
vertical-align: middle;
text-align: center;
border-bottom:1px solid white;
}
.mline2:hover{
visibility: hidden;
background:black;
text-decoration:underline;
}
.mline {
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline:hover{
visibility: hidden;
background:black;
text-decoration:underline;
}
.mline6 {
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline6:hover{
visibility: hidden;
background:black;
text-decoration:underline;
border-radius:0 0 15px 15px;
}
.knopki:hover .subpanel, .knopki.jshover .subpanel {
visibility: hidden;
display: block;
}
.knopki:hover, .knopki.jshover {
visibility: hidden;
background: black;
/*text-shadow: 1px 1px 2px black, 0 0 1em black;*/
border:0;
border-radius:15px;
}

.title12{
font-family: League Gothic;
margin-top:1px;
color:#734f82;
text-shadow: 4px 0 4px #bea7b1;
position:relative;
font-size:48px;
height:48px; 
margin-right:167px;
}
.menuup{
margin-left:-600px;
font-family: League Gothic;
color:white;
font-weight:light;
font-size:24px;
/*text-shadow: 3px 3px 3px #9b9193;*/
}
.p1{
margin-left:-128px;
margin-top:20px;
float:left;
width:50px;
height:24px;
text-align:center;
}
.p1:hover{
border-bottom:3px solid #bbabb8;
}
.p2{
margin-top:17px;
margin-left:-43px;
float:left;
width:60px;
height:24px;
text-align:center;
}
.p2:hover{
border-bottom:3px solid #bbabb8;
}
.p3{
margin-top:17px;
margin-left:35px;
float:left;
width:50px;
height:24px;
text-align:center;
}
.p3:hover{
border-bottom:3px solid #bbabb8;
}
.p4{
margin-top:17px;
margin-left:32px;
float:left;
width:90px;
height:24px;
text-align:center;
}
.p4:hover{
border-bottom:3px solid #bbabb8;
}
.p5{
margin-top:17px;
margin-left:34px;
float:left;
width:100px;
height:24px;
text-align:center;
}
.p5:hover{
border-bottom:3px solid #bbabb8;
}
.p6{
margin-left:45px;
float:left;
width:105px;
height:24px;
text-align:center;
margin-top:17px;
}
.p6:hover{
border-bottom:3px solid #bbabb8;
}
.line1{
background: rgba(0, 0, 0, 0.2);
margin-top:98px;
width:2400px;
height:400px;
}
.v1{
height:42px;
margin-left:-145px;
margin-top:4px;
width:30px;
float:left;
background:url(../img960/аrrow_left.png);
margin-top:180px;
}
.l1t{
float:left;
margin-top:115px;
margin-left:-98px;
font-family: League Gothic;
/*text-shadow: 2px 2px 2px #9b9193;*/
}
.l1t1{
color:white;
font-size:48px;
font-weight: 100;
word-spacing: 1.5ех;
letter-spacing: 2ех;
}
.l1t2{
visibility: hidden;
}
.l1t22{
margin-top:9px;
color:#edbfff;
font-size:24px;
font-weight: 100;
word-spacing: 0.5ех;
letter-spacing:0.2ех;
}
.l1t3{
visibility: hidden;
}
.l1t33{
font-family: Open Sans Light ;
margin-top:-3px;
line-height:27px;
color:white;
font-size:16px;
width:300px;
font-weight: lighter;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.iphone{
float:left;
margin-left:1265px;
margin-top:-310px;
}
.iphoneS{
visibility: hidden;
}
.v2{
float:left;
margin-left:20px;
margin-top:-120px;
}
.radio1{
margin-left:1360px;
margin-top:24px;
float:left;
}
.b1{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background: url(../img960/wer.png);
}
.b1:hover{
background:url(../img960/white_dot.png);
}
.contaner1{
width:2400px;
height:344px;
margin-top:-17px;
background: linear-gradient(to bottom, #745083, #34263b);
}
.c1sb1{
margin-left:846px;
margin-top:83px;
width:20px;
height:20px;
float:left;
}
.remont{
margin-top:-5px;
}
.c1sb2{
margin-left:30px;
margin-top:83px;
float:left;
width:180px;
height:280px;
}
.transpor1{
display:block;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor4{
visibility: hidden;
}
.transpor444{
visibility: hidden;
}
.transpor44{
display:block;
margin-top:-128px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:165px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but1{
display:block;
margin-top:-110px;
margin-left:93px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but1:hover{
text-shadow: 0 0 4px white;
}
.c1sb3{
margin-left:-38px;
margin-top:80px;
width:20px;
height:20px;
float:left;
}
.remont1{
margin-left:59px;
}
.oblko{
visibility: hidden;
}
.c1sb4{
margin-left:73px;
margin-top:83px;
float:left;
width:180px;
height:280px;
}
.transpor2{
display:block;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor5{
visibility: hidden;
}
.transpor555{
visibility: hidden;
}
.transpor55{
display:block;
margin-top:-128px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:165px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but2{
display:block;
margin-top:-110px;
margin-left:93px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but2:hover{
text-shadow: 0 0 4px white;
}
.c1sb5{
margin-left:25px;
margin-top:51px;
width:20px;
height:20px;
float:left;
}
.musik{
visibility: hidden;
}
.remont2{
margin-left:5px;
}
.c1sb6{
margin-left:37px;
margin-top:83px;
float:left;
width:180px;
height:280px;
}
.transpor3{
display:block;
font-family: League Gothic;
color:white;
font-size:24px;
}
.transpor6{
visibility: hidden;
}
.transpor666{
visibility: hidden;
}
.transpor66{
display:block;
margin-top:-128px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:165px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but3{
display:block;
margin-top:-110px;
margin-left:90px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but3:hover{
text-shadow: 0 0 4px white;
}

.contaner2{
float:left;
margin-top:-20px;
width:2400px;
height:488px;
background-color:#f9f9f9;
border-bottom:1px solid #bbabb8;
}
.sideleft{
float:left;
margin-top:100px;
margin-left:865px;
width:300px;
height:290px;
background:url(../img960/fonsidebr.png);
}
.sbl1{
padding-top:20px;
margin-left:-28px;
 }
.sbl11{
display:inline-block;
 }
.sbl12{
display:inline-block;
margin-top:13px;
margin-left:7px;
font-family: League Gothic;
color:#454545;
font-size:24px;
vertical-align: top;
 }
.sbl13{
display:block;
margin-top:-12px;
margin-left:60px;
font-family: League Gothic;
color:#edbfff;
font-size:24px;
vertical-align: top;
 }
.sbl21{
visibility: hidden;
 }
  .sbl2111{
visibility: hidden;
 }
 .sbl211{
margin-top:-120px;
margin-left:33px;
display:block;
width:255px;
height:150px;
font-family: Open Sans Light ;
font-weight:light;
color:black;
font-size:16px;
line-height:25px;
letter-spacing:0.1pх;
word-spacing:0.1px;
 }
.sbl2{
visibility: hidden;
 }
.sideright{
float:left;
margin-top:123px;
margin-left:60px;
width:480px;
height:250px;
}
.sbr1{
float:left;
margin-top:13px;
margin-left:7px;
font-family: League Gothic;
color:#454545;
font-size:30px;
vertical-align: top;
}
.sbr11{ 
margin-top:36px;
margin-left:7px;
}
.sbr21{
margin-top:-46px;
margin-left:65px;
font-family: Open Sans Light ;
font-weight:900;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr22{
visibility: hidden;
}
.sbr222{
margin-top:-40px;
margin-left:65px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr12{ 
margin-top:-10px;
margin-left:3px;
}
.sbr23{
margin-top:-44px;
margin-left:66px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr242{
margin-top:-42px;
margin-left:66px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr24{
visibility: hidden;
}
.sbr13{ 
margin-top:-9px;
margin-left:4px;
}
.sbr25{
margin-top:-45px;
margin-left:66px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 3pх;
word-spacing:3px;
}
.sbr26{
visibility: hidden;
}
.sbr262{
margin-top:-42px;
margin-left:66px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr211{
visibility: hidden;
}
.sbr2222{
visibility: hidden;
}
.sbr231{
visibility: hidden;
}
.sbr2422{
visibility: hidden;
}
.sbr251{
visibility: hidden;
}
.sbr2622{
visibility: hidden;
}
.footer1{
margin-left:975px;
margin-top:380px;
}
.radio2{
float:left;
}
.b2{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background:url(../img960/white_dot1.png);
}
.b2:hover{
background: url(../img960/blk_dot1.png);
}
.sbr27{
visibility: hidden;
}
.sbr272{
float:left;
display:block;
margin-left:491px;
margin-top:-34px;
font-family: League Gothic ;
font-weight:light;
font-size:19px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.spce2{
width:10px;
height:10px;
background-color:red;
}
.strlogo{
float:left;
margin-top:0px;
width:2400px;
height:121px;
background-color:#f9f9f9;
}
.logo{
margin-left:839px;
margin-top:23px;
}
.l1{
float:left;
display:inline-block;
width:69px;
height:66px;
background:url(../img960/l1.png);
}
.l2{
float:left;
display:inline-block;
margin-left:56px;
width:72px;
height:66px;
background:url(../img960/l2.png);
}
.l3{
float:left;
display:inline-block;
margin-left:52px;
margin-top:0px;
width:64px;
height:62px;
background:url(../img960/l3.png);
}
.l4{
float:left;
display:inline-block;
margin-left:68px;
margin-top:3px;
width:49px;
height:66px;
background:url(../img960/l4.png);
}
.l5{
float:left;
display:inline-block;
margin-left:60px;
margin-top:24px;
width:102px;
height:20px;
background:url(../img960/l5.png);
}
.l6{
float:left;
display:inline-block;
margin-left:56px;
margin-top:3px;
width:86px;
height:66px;
background:url(../img960/l6.png);
}
.contaner4{
float:left;
width:2400px;
height:396px;
background-color:#ececec;
}
.downmenu1{
margin-left:832px;
float:left;
margin-top:67px;
width:220px;
height:120px;
}
.downtit41{
margin-left:2px;
display:block;
font-family: League Gothic;
font-weight:light;
font-size:24px;
color:#454545;
font-stretch:normal;
}
.downtit421{
display:block;
margin-top:-145px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:220px;
height:120px;
line-height:24px;
}
.downmenu2{
float:left;
margin-top:84px;
margin-left:49px;
width:220px;
height:120px;
}
.downtit42{
display:block;
font-family: League Gothic;
font-weight:light;
font-size:24px;
color:#454545;
font-stretch:normal;
}
.downtit422{
display:block;
margin-top:-180px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:220px;
height:120px;
line-height:24px;
}
.downmenu3{
float:left;
margin-top:100px;
margin-left:43px;
width:220px;
height:120px;
}
.downtit43{
display:block;
font-family: League Gothic;
font-weight:light;
font-size:24px;
color:#454545;
font-stretch:normal;
}
.downtit423{
display:block;
margin-top:-180px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:220px;
height:120px;
line-height:24px;
}
.downtit1{
visibility: hidden;
}
.downtit2{
visibility: hidden;
}
.downtit3{
visibility: hidden;
}
.downtit4{
visibility: hidden;
}
.downtit4211{
visibility: hidden;
}
.downtit4221{
visibility: hidden;
}
.downtit4231{
visibility: hidden;
}

.downtit21{
visibility: hidden;
}
.downtit22{
visibility: hidden;
}
.downtit432{
visibility: hidden;
}
.contaner5{
float:left;
width:2400px;
height:200px;
background:url(../img960/bottom2.png);
}
.menudown{
float:left;
font-family: League Gothic;
color:white;
font-weight:lighter;
margin-left:831px;
margin-top:45px;
font-size:19px;
height:32px;
vertical-align: middle;
text-shadow: 3px 3px 3px #9b9193;
}
.p11{
float:left;
width:40px;
height:24px;
text-align:center;
}
.p11:hover{
border-bottom:3px solid #FFFFFF;
}
.p12{
margin-left:31px;
float:left;
width:50px;
height:24px;
text-align:center;
}
.p12:hover{
border-bottom:3px solid #FFFFFF;
}
.p13{
margin-left:29px;
float:left;
width:40px;
height:24px;
text-align:center;
}
.p13:hover{
border-bottom:3px solid #FFFFFF;
}
.p14{
margin-left:28px;
float:left;
width:74px;
height:24px;
text-align:center;
}
.p14:hover{
border-bottom:3px solid #FFFFFF;
}
.p15{
margin-left:32px;
float:left;
width:80px;
height:24px;
text-align:center;
}
.p15:hover{
border-bottom:3px solid #FFFFFF;
}
.p16{
margin-left:37px;
float:left;
width:90px;
height:24px;
text-align:center;
}
.p16:hover{
border-bottom:3px solid #FFFFFF;
}
.p17{
float:left;
font-family: Open Sans Light;
color:white;
font-weight:lighter;
margin-left:63px;
margin-top:96px;
font-size:12px;
}
.p18{
float:left;
font-family: Open Sans;
color:white;
font-weight:bold;
margin-left:4px;
margin-top:96px;
font-size:12px;
}