@font-face {
    font-family: League Gothic; 
	font-family:Open Sans;
	src: url(fonts/League-Gothic.ttf)
	src: url(fonts/Open Sans/Open Sans тонкий.ttf)	
}	
body
{
margin:0;
padding:0;
color:#bbabb8;
}
.header{
width:2400px;
height:769px;
background:url(../img960/fon.png);
padding-top:80px;
}
.title{
margin-left:717px; 
}
.title1{
font-family: League Gothic;
font-size:48px;
font-weight:lighter;
width:124px;
height:170px; 
float:left;
}
.title11{
visibility: visible;
font-family: League Gothic;
color:white;
float:left;
display: block;
height:90px;
position: relative;
}
#panel {
visibility: hidden;
margin:0;
padding:0;
}
.knopki {
visibility: hidden;
list-style: none;
margin:0;
padding:0;
}

.subpanel {
visibility: hidden;
list-style: none;
margin-top:50px;
margin-left:-15px;
width: 168px;
height:258px;
display: none;
position: absolute;
background: rgba(0, 0, 0, 0.5);
border-radius:15px;
}
.mline1 {
visibility: hidden;
display: block;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
margin-left:-40px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline1:hover{
visibility: hidden;
background:black;
text-decoration:underline;
border-radius:15px 15px 0 0;
}
.mline2{
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
width: 208px;
height: 33px;
color: white;
font-size:20px;
vertical-align: middle;
text-align: center;
border-bottom:1px solid white;
}
.mline2:hover{
visibility: hidden;
background:black;
text-decoration:underline;
}
.mline {
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline:hover{
visibility: hidden;
background:black;
text-decoration:underline;
}
.mline6 {
visibility: hidden;
display: block;
margin-left:-40px;
padding-top:10px;
font-family: League Gothic;
font-size:20px;
width: 208px;
height: 33px;
color: white;
font-family: League Gothic;
vertical-align: middle;
text-align: center;
}
.mline6:hover{
visibility: hidden;
background:black;
text-decoration:underline;
border-radius:0 0 15px 15px;
}
.knopki:hover .subpanel, .knopki.jshover .subpanel {
visibility: hidden;
display: block;
}
.knopki:hover, .knopki.jshover {
visibility: hidden;
background: black;
/*text-shadow: 1px 1px 2px black, 0 0 1em black;*/
border-radius:15px;
}

.title12{
font-family: League Gothic;
margin-top:1px;
color:#734f82;
text-shadow: 4px 0 4px #bea7b1;
position:relative;
font-size:48px;
height:48px; 
float:left;
margin-right:167px;
}
.menuup{
float:left;
font-family: League Gothic;
color:white;
font-size:24px;
height:32px;
vertical-align: middle;
text-shadow: 3px 3px 3px #9b9193;
}
.p1{
float:left;
width:50px;
height:24px;
text-align:center;
}
.p1:hover{
border-bottom:3px solid #bbabb8;
}
.p2{
margin-left:35px;
float:left;
width:60px;
height:24px;
text-align:center;
}
.p2:hover{
border-bottom:3px solid #bbabb8;
}
.p3{
margin-left:33px;
float:left;
width:50px;
height:24px;
text-align:center;
}
.p3:hover{
border-bottom:3px solid #bbabb8;
}
.p4{
margin-left:35px;
float:left;
width:90px;
height:24px;
text-align:center;
}
.p4:hover{
border-bottom:3px solid #bbabb8;
}
.p5{
margin-left:32px;
float:left;
width:100px;
height:24px;
text-align:center;
}
.p5:hover{
border-bottom:3px solid #bbabb8;
}
.p6{
margin-left:41px;
float:left;
width:115px;
height:24px;
text-align:center;
}
.p6:hover{
border-bottom:3px solid #bbabb8;
}
.line1{
background: rgba(0, 0, 0, 0.2);
margin-top:183px;
width:2400px;
height:400px;
}
.v1{
height:42px;
margin-left:400px;
margin-top:4px;
width:30px;
float:left;
background:url(../img960/аrrow_left.png);
margin-top:180px;
}
.l1t{
float:left;
margin-left:290px;
margin-top:98px;
font-family: League Gothic;
text-shadow: 2px 2px 2px #9b9193;
}
.l1t1{
color:white;
font-size:60px;
font-weight: 100;
word-spacing: 2ех;
letter-spacing: 2ех;
}
.l1t2{
margin-top:28px;
color:#edbfff;
font-size:32px;
}
.l1t22{
visibility: hidden;
}
.l1t3{
font-family: Open Sans Light ;
margin-top:0px;
line-height:25px;
color:white;
font-size:18px;
width:520px;
font-weight: lighter;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.l1t33{
visibility: hidden;
}
.iphone{
float:left;
margin-left:50px;
margin-top:-18px;
}
.iphoneS{
visibility: hidden;
}
.v2{
float:left;
margin-left:365px;
margin-top:-127px;
}
.radio1{
margin-left:1436px;
margin-top:80px;
float:left;
}
.b1{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background: url(../img960/wer.png);
}
.b1:hover{
background:url(../img960/white_dot.png);
}
.contaner1{
width:2400px;
height:342px;
margin-top:-19px;
background: linear-gradient(to bottom, #745083, #34263b);
}
.c1sb1{
margin-left:725px;
margin-top:81px;
width:20px;
height:20px;
float:left;
}
.remont{
margin-left:2px;
}
.c1sb2{
margin-left:35px;
margin-top:83px;
float:left;
width:300px;
height:280px;
}
.transpor1{
margin-left:2px;
display:block;
font-family: League Gothic;
color:white;
font-size:30px;
}
.transpor44{
visibility: hidden;
}
.transpor444{
visibility: hidden;
}
.transpor4{
display:block;
margin-top:13px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:280px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but1{
display:block;
margin-top:-138px;
margin-left:161px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but1:hover{
text-shadow: 0 0 4px white;
}
.c1sb3{
margin-left:-38px;
margin-top:81px;
width:20px;
height:20px;
float:left;
}
.remont1{
visibility: hidden;
}
.oblko{
margin-top:-25px;
margin-left:26px;
}
.c1sb4{
margin-left:38px;
margin-top:83px;
float:left;
width:300px;
height:280px;
}
.transpor2{
margin-left:2px;
display:block;
font-family: League Gothic;
color:white;
font-size:30px;
}
.transpor55{
visibility: hidden;
}
.transpor555{
visibility: hidden;
}
.transpor5{
display:block;
margin-top:13px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:280px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but2{
display:block;
margin-top:-138px;
margin-left:166px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but2:hover{
text-shadow: 0 0 4px white;
}
.c1sb5{
margin-left:25px;
margin-top:51px;
width:20px;
height:20px;
float:left;
}
.musik{
margin-top:32px;
margin-left:-39px;
}
.remont2{
visibility: hidden;
}
.c1sb6{
margin-left:-5px;
margin-top:83px;
float:left;
width:300px;
height:280px;
}
.transpor3{
margin-left:2px;
display:block;
font-family: League Gothic;
color:white;
font-size:30px;
}
.transpor66{
visibility: hidden;
}
.transpor666{
visibility: hidden;
}
.transpor6{
display:block;
margin-top:13px;
font-family: Open Sans Light;
font-weight: lighter;
line-height:25px;
color:white;
font-size:16px;
height:200px;
width:280px;
word-spacing: 0.1ех;
letter-spacing: 0.1ех;
}
.but3{
display:block;
margin-top:-138px;
margin-left:161px;
font-family: League Gothic;
color:white;
font-size:18px;
background:0;
border:0;
}
.but3:hover{
text-shadow: 0 0 4px white;
}


.contaner2{
float:left;
margin-top:-20px;
width:2400px;
height:487px;
background-color:#f9f9f9;
border-bottom:1px solid #bbabb8;
}
.sideleft{
float:left;
margin-top:100px;
margin-left:747px;
width:410px;
height:290px;
background:url(../img960/fonsidebr.png);
}
.sbl1{
padding-top:24px;
margin-left:-28px;
float:left;
 }
.sbl11{
display:inline-block;
 }
.sbl12{
display:inline-block;
margin-top:13px;
margin-left:7px;
font-family: League Gothic;
color:#454545;
font-size:30px;
vertical-align: top;
 }
.sbl13{
display:inline-block;
margin-top:13px;
margin-left:2px;
font-family: League Gothic;
color:#edbfff;
font-size:30px;
vertical-align: top;
 }
.sbl21{
margin-top:-5px;
margin-left:33px;
display:inline-block;
width:350px;
height:150px;
font-weight:light;
font-family: Open Sans Light ;
color:black;
font-size:18px;
line-height:25px;
letter-spacing: 2pх;
word-spacing:2px;
 }
 .sbl211{
visibility: hidden;
 }
  .sbl2111{
visibility: hidden;
 }
.sbl2{
margin-top:-350px;
margin-left:408px;
float:left;
width:15px;
height:271px;
background-color:white;
 }
.sideright{
float:left;
margin-top:125px;
margin-left:66px;
width:480px;
height:220px;
}
.sbr1{
float:left;
margin-top:9px;
margin-left:7px;
font-family: League Gothic;
color:#454545;
font-size:30px;
vertical-align: top;
}
.sbr11{ 
margin-top:34px;
margin-left:7px;
}
.sbr21{
margin-top:-44px;
margin-left:65px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.sbr22{
margin-top:-28px;
margin-left:65px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr222{
visibility: hidden;
}
.sbr12{ 
margin-top:-24px;
margin-left:6px;
}
.sbr23{
margin-top:-46px;
margin-left:67px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.sbr24{
margin-top:-28px;
margin-left:65px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr242{
visibility: hidden;
}
.sbr13{ 
margin-top:-26px;
margin-left:4px;
}
.sbr25{
margin-top:-45px;
margin-left:68px;
font-family: Open Sans Light ;
font-weight:bold;
font-size:16px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.sbr26{
margin-top:-28px;
margin-left:68px;
font-family: Open Sans Light ;
font-weight:light;
font-size:16px;
color:#454545;
letter-spacing: 0.2pх;
word-spacing:0.2px;
}
.sbr262{
visibility: hidden;
}
.sbr211{
visibility: hidden;
}
.sbr2222{
visibility: hidden;
}
.sbr231{
visibility: hidden;
}
.sbr2422{
visibility: hidden;
}
.sbr251{
visibility: hidden;
}
.sbr2622{
visibility: hidden;
}
.footer1{
margin-left:918px;
margin-top:380px;
}
.radio2{
float:left;
}
.b2{
float:left;
display:block;
height:16px;
width:16px;
margin-right:4px;
background:url(../img960/white_dot1.png);
}
.b2:hover{
background: url(../img960/blk_dot1.png);
}
.sbr27{
float:left;
display:block;
margin-left:575px;
margin-top:-17px;
font-family: League Gothic ;
font-weight:bold;
font-size:18px;
color:#454545;
letter-spacing: 2pх;
word-spacing:2px;
}
.sbr272{
visibility: hidden;
}
.spce2{
width:10px;
height:10px;
background-color:red;
}
.strlogo{
float:left;
margin-top:1px;
width:2400px;
height:121px;
background-color:#f9f9f9;
}
.logo{
margin-left:813px;
margin-top:23px;
}
.l1{
float:left;
display:inline-block;
width:69px;
height:66px;
background:url(../img960/l1.png);
}
.l2{
float:left;
display:inline-block;
margin-left:64px;
width:72px;
height:66px;
background:url(../img960/l2.png);
}
.l3{
float:left;
display:inline-block;
margin-left:64px;
margin-top:2px;
width:64px;
height:62px;
background:url(../img960/l3.png);
}
.l4{
float:left;
display:inline-block;
margin-left:78px;
margin-top:3px;
width:49px;
height:66px;
background:url(../img960/l4.png);
}
.l5{
float:left;
display:inline-block;
margin-left:66px;
margin-top:24px;
width:102px;
height:20px;
background:url(../img960/l5.png);
}
.l6{
float:left;
display:inline-block;
margin-left:70px;
margin-top:3px;
width:86px;
height:66px;
background:url(../img960/l6.png);
}
.contaner4{
float:left;
width:2400px;
height:396px;
background-color:#ececec;
}
.downmenu1{
margin-left:719px;
float:left;
margin-top:95px;
width:340px;
height:205px;
}
.downmenu2{
float:left;
margin-top:95px;
width:340px;
height:205px;
}
.downmenu3{
float:left;
margin-top:95px;
width:340px;
height:205px;
}
.downtit1{
float:left;
margin-top:11px;
margin-left:-2px;
font-family: League Gothic;
font-weight:light;
font-size:48px;
color:#454545;
font-stretch:normal;
}
.downtit2{
float:left;
margin-top:11px;
margin-left:0px;
font-family: League Gothic;
font-weight:light;
font-size:48px;
color:write;
font-stretch:normal;
}
.downtit3{
display:block;
margin-top:26px;
margin-left:-2px;
font-family: Georgia Italic;
font-style: italic;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
}
.downtit4{
display:block;
margin-top:14px;
margin-left:-2px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:300px;
height:150px;
line-height:24px;
}
.downtit21{
float:left;
margin-top:2px;
margin-left:-2px;
font-family: League Gothic;
font-weight:light;
font-size:30px;
color:#454545;
font-stretch:normal;
}
.downtit22{
display:block;
margin-top:8px;
margin-left:-2px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:300px;
height:250px;
line-height:24px;
}
.downtit41{
visibility: hidden;
}
.downtit421{
visibility: hidden;
}
.downtit42{
visibility: hidden;
}
.downtit422{
visibility: hidden;
}
.downtit423{
visibility: hidden;
}
.downtit43{
float:left;
margin-top:2px;
margin-left:-2px;
font-family: League Gothic;
font-weight:light;
font-size:30px;
color:#454545;
font-stretch:normal;
}
.downtit432{
display:block;
margin-top:20px;
margin-left:-2px;
font-family: Open Sans Light;
font-weight:light;
font-size:16px;
color:#c5c5c5;
font-stretch:normal;
width:300px;
height:250px;
line-height:24px;
}
.downtit4211{
visibility: hidden;
}
.downtit4221{
visibility: hidden;
}
.downtit4231{
visibility: hidden;
}
.contaner5{
float:left;
width:2400px;
height:112px;
background:url(../img960/footer.png);
}
.menudown{
float:left;
font-family: League Gothic;
color:white;
font-weight:lighter;
margin-left:714px;
margin-top:45px;
font-size:19px;
height:32px;
vertical-align: middle;
text-shadow: 3px 3px 3px #9b9193;
}
.p11{
float:left;
width:40px;
height:24px;
text-align:center;
}
.p11:hover{
border-bottom:3px solid #FFFFFF;
}
.p12{
margin-left:31px;
float:left;
width:50px;
height:24px;
text-align:center;
}
.p12:hover{
border-bottom:3px solid #FFFFFF;
}
.p13{
margin-left:29px;
float:left;
width:40px;
height:24px;
text-align:center;
}
.p13:hover{
border-bottom:3px solid #FFFFFF;
}
.p14{
margin-left:28px;
float:left;
width:74px;
height:24px;
text-align:center;
}
.p14:hover{
border-bottom:3px solid #FFFFFF;
}
.p15{
margin-left:32px;
float:left;
width:80px;
height:24px;
text-align:center;
}
.p15:hover{
border-bottom:3px solid #FFFFFF;
}
.p16{
margin-left:37px;
float:left;
width:90px;
height:24px;
text-align:center;
}
.p16:hover{
border-bottom:3px solid #FFFFFF;
}
.p17{
float:left;
font-family: Open Sans Light;
color:white;
font-weight:lighter;
margin-left:296px;
margin-top:49px;
font-size:12px;
}
.p18{
float:left;
font-family: Open Sans;
color:white;
font-weight:bold;
margin-left:4px;
margin-top:49px;
font-size:12px;
}