body{
margin:0;
padding:0;
background-color:gray;	
}
.page{
margin-left:200px;
margin-top:20px;
width:800px;
height:600px;
background-color:white;	
font-family:arial;
}
.namePage{
padding-top:20px;
padding-left:250px;
font-size:24px;
}
.boxQuestion{
margin-left:70px;	
font-size:20px;
}
.nameQuestion{
display:block;	
font-size:24px;
margin-top:20px;
margin-bottom:20px;
}
.radioForm{	
display:block;	
margin-top:15px;
margin-left:15px;
font-size:16px;	
}
.radioForm2{
float:none;	
margin-top:-15px;
margin-left:30px;
font-size:16px;	
}
.nameButton{
float:left;
width:300px;
height:50px;
margin-top:50px;
margin-left:275px;
font-size:20px;
}
