body
{
	background-attachment:fixed;
    background-image:url(http://weeknews.net/uploads/posts/2013-07/1374406063_41d3388ebe605a3a04ed.jpg);
    background-size:100%;
}
h1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font:50pt sans-serif;
    
}
h1:hover{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 5em black;
    font:50pt sans-serif;
}
.a{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #fc0; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.a1{
    text-align:center;
    border:5px groove black;
    border-radius:20px;
}
.b{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #4682B4; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #696969; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:center;
}
.c1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #556B2F; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #D2691E; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.td1
{
	width:100%;
    text-align:center;
    vertical-align:top;
}
.at{
    border-collapse:collapse;
 }
.at1{
    border:5px groove black;
    border-radius:15px;

}
.at1:hover{
    border:5px groove black;
    border-radius:15px;
    opacity: 0.9;
 	background: black; /* Цвет фона */
 	padding: 0px; /* Поля вокруг текста */
}
.b1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #00008B; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #556B2F; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b3{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #00FFFF; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}.at2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.table1{
    border:solid white 2px;
    border-radius:10px;
    opacity: 0.8;
 	background: black; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:justify;
    font-size:13pt;
}
#text{
	margin-top:160px;
}
.table1:hover{
	z-index:1;
    border:solid white 2px;
    border-radius:25px;
    font-size:13pt;
    opacity: 0.9;
 	background: black; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.table2{
    border:double #FFFFF0 3px;
    border-radius:10px;
    opacity: 0.9;
 	background-color:#FAEBD7;/* Цвет фона */
 	padding: 2px; /* Поля вокруг текста */
    text-align:justify;
    color:white;
    float:left;
    font-size:13pt;
}
.table2:hover{
    border:double #FFFFF0 3px;
    border-radius:15pt;
    opacity: 1;
 	background-color:none;/* Цвет фона */
 	padding: 2px; /* Поля вокруг текста */
    text-align:justify;
    color:white;
    float:left;

}
.ta2{
    background-color:#F4A460;
    color:white;
    text-shadow: 2px 2px 3px black, 0 0 10em black;
    padding: 2px; /* Поля вокруг текста */
    text-align:center;
}
.tb2{
    background-color:grey;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:center;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
.tb3{
    background-color:#2F4F4F;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:center;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
.tb4{
    background-color:#1E90FF;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:left;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
.button1{
	margin-left:-42px;
    color:white;
    font-size:20pt;
	background:0;
    height:70px;
    width:270px;
}
.button1:hover{
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.4);
    border-radius:15pt 15pt 0 0;
    border:2px solid white;
	border-bottom:0;
}
.button1:active{
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.8);
    border-radius:15pt 15pt 0 0;
    border:2px solid white;
	border-bottom:0;
}
.buttonmid{
	margin-left:-42px;
    color:white;
    font-size:20pt;
	background:0;
    height:70px;
    width:270px;
}
.buttonmid:hover{
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.4);
    border-radius:0 0 0 0;
    border:2px solid white;
	border-top:0;
	border-bottom:0;
}
.buttonmid:active{
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.8);
    border-radius:0 0 0 0;
    border:2px solid white;
	border-top:0;
	border-bottom:0;
}
.buttonlst{
	margin-left:-42px;
    color:white;
    font-size:20pt;
	background:0;
    height:67px;
    width:264px;
	border:2px solid rgba(0,0,0, 0);
	border-top:0;
}
.buttonlst:hover{
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.4);
    border-radius:0 0 15pt 15pt;
    border:2px solid white;
	border-top:0;
}
.buttonlst:active{
	padding-left:3px;
    font-size:20pt;
	height:67px;
    width:264px;
	margin-left:-42px;
    background:rgba(0,0,0, 0.8);
    border-radius:0 0 15pt 15pt;
    border:2px solid white;
	border-top:0;
}
.button1:visited{
    color:white;
    font-weight:12%;
    font-size:20pt;
    background-color:0;
    border-radius:10pt;
    border:solid #8B0000 #FFDAB9 5px;
    height:100px;
    width:400px;
}
.bty{
	width:1%;
	visibility:hidden;
}
#panel {
margin:0;
padding:0;
}
.knopki {
list-style: none;
margin:0;
padding:0;

}
.subpanel {
margin-left:233px;
list-style: none;
height:346px;
margin-top:85px;
display: none;
background-color: rgba(0, 0, 0, 0.5);
border-radius:15px;
}

.knopki:hover{
	height:280px;
}

.title{
margin-top:2px;
margin-left:1120px; 
}

.title11{

visibility: visible;
color:white;
margin-left:20%;
float:left;
display: block;
height:90px;
position: relative;
}

.knopki:hover .subpanel, .knopki.jshover .subpanel {
display: block;
}
.knopki:hover, .knopki.jshover {
border:0;
border-radius:15px;
}
button{
    color:black;
    font-size:0pt;
    background-color:0;
    border-radius:0;
    border:0;
    height:0px;
    width:0px;
}
button:hover{
    color:white;
    font-size:0pt;
    background-color:0;
    border-radius:0;
    border:0;
    height:0px;
    width:0px;
}
button:active{
    color:white;
    font-weight:0%;
    font-size:0pt;
    background-color:#191970;
    border-radius:35pt;
    border:solid #8B0000 0px;
    height:0px;
    width:0px;
}
button:visited{
    color:white;
    font-weight:0%;
    font-size:0pt;
    background-color:#4B0082;
    border-radius:0pt;
    border:solid #8B0000 #FFDAB9 0px;
    height:0px;
    width:0px;
}