body
{
    background-image:url(http://weeknews.net/uploads/posts/2013-07/1374406063_41d3388ebe605a3a04ed.jpg);
    background-size:cover;
}
h1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font:50pt sans-serif;
    
}
h1:hover{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 5em black;
    font:50pt sans-serif;
}
.a{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #fc0; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.a1{
    text-align:center;
    border:5px groove black;
    border-radius:20px;
}
.b{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #4682B4; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #696969; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:center;
}
.c1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #556B2F; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.c2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.75;
 	background: #D2691E; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.td1
{
    text-align:center;
    vertical-align:top;
}
.at{
    border-collapse:collapse;
 }
.at1{
    border:5px groove black;
    border-radius:15px;

}
.at1:hover{
    border:5px groove black;
    border-radius:15px;
    opacity: 0.9;
 	background: black; /* Цвет фона */
 	padding: 0px; /* Поля вокруг текста */
}
.b1{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #00008B; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #556B2F; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.b3{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
	opacity: 0.8;
 	background: #00FFFF; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}.at2{
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.table1{
	margin-top:55px;
    border:solid white 2px;
    border-radius:10px;
    opacity: 0.8;
 	background: black; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
    text-align:justify;
    font-size:13pt;
}
.table1:hover{
    border:solid white 2px;
    border-radius:25px;
    font-size:13pt;
    opacity: 0.9;
 	background: black; /* Цвет фона */
 	padding: 5px; /* Поля вокруг текста */
}
.table2{
    border:double #FFFFF0 3px;
    border-radius:10px;
    opacity: 0.9;
 	background-color:#FAEBD7;/* Цвет фона */
 	padding: 2px; /* Поля вокруг текста */
    text-align:justify;
    color:white;
    float:left;
    font-size:13pt;
}
.table2:hover{
    border:double #FFFFF0 3px;
    border-radius:15pt;
    opacity: 1;
 	background-color:none;/* Цвет фона */
 	padding: 2px; /* Поля вокруг текста */
    text-align:justify;
    color:white;
    float:left;

}
.ta2{
    background-color:#F4A460;
    color:white;
    text-shadow: 2px 2px 3px black, 0 0 10em black;
    padding: 2px; /* Поля вокруг текста */
    text-align:center;
}
.tb2{
    background-color:grey;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:center;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
.tb3{
    background-color:#2F4F4F;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:center;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
.tb4{
    background-color:#1E90FF;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    text-align:left;
    border-right-color:black;
    padding: 2px; /* Поля вокруг текста */
}
button{
    color:black;
    font-size:20pt;
    background-color:#FFDAB9;
    border-radius:10pt;
    border:solid #1E90FF 2px;
    height:100px;
    width:400px;
}
button:hover{
    color:white;
    font-size:20pt;
    background-color:#8B0000;
    border-radius:10pt;
    border:solid #1E90FF 2px;
    height:100px;
    width:400px;
}
button:active{
    color:white;
    font-weight:12%;
    font-size:20pt;
    background-color:#191970;
    border-radius:35pt;
    border:solid #8B0000 5px;
    height:100px;
    width:400px;
}
button:visited{
    color:white;
    font-weight:12%;
    font-size:20pt;
    background-color:#4B0082;
    border-radius:10pt;
    border:solid #8B0000 #FFDAB9 5px;
    height:100px;
    width:400px;
}
.bty{
	vertical-align:top;
	margin-top:200px;
}
.f2{
	margin-top:180px;
}
#panel {
margin:0;
padding:0;
}
.knopki {
list-style: none;
margin:0;
padding:0;

}
.subpanel {
list-style: none;
margin-top:50px;
margin-left:-45px;
width: 220px;
height:276px;
display: none;
position: absolute;
border-radius:15px;
}
.bty{
	width:21%;
}
.footer{
	margin-top:20px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
	margin-left:-8px;
	margin-right:-8px;
	color:white;
}